/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "bebas-neue";
  src: url("../fonts/bebasneue/bebasneue-webfont.eot");
  src: url("../fonts/bebasneue/bebasneue-webfont.eot#?iefix") format("embedded-opentype"), url("../fonts/bebasneue/bebasneue-webfont.woff") format("woff"), url("../fonts/bebasneue/bebasneue-webfont.ttf") format("truetype"), url("../fonts/bebasneue/bebasneue-webfont.svg#Ubuntu-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "corki";
  src: url("../fonts/corki/corki-tuscan-webfont.eot");
  src: url("../fonts/corki/corki-tuscan-webfont.eot#?iefix") format("embedded-opentype"), url("../fonts/corki/corki-tuscan-webfont.woff") format("woff"), url("../fonts/corki/corki-tuscan-webfont.ttf") format("truetype"), url("../fonts/corki/corki-tuscan-webfont.svg#Ubuntu-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 14, ../_scss/screen.scss */
body {
  font-size: 62.5%;
  font-family: corki, arial, sans-serif;
  background-color: #f4eac6;
}

/* line 20, ../_scss/screen.scss */
#container {
  position: relative;
}
/* line 23, ../_scss/screen.scss */
#container #header {
  min-height: 400px;
}

/* line 29, ../_scss/screen.scss */
h1 a {
  background: url("../images/title_enroute.png") no-repeat;
  width: 262px;
  height: 170px;
  position: fixed;
  top: 20px;
  left: 50%;
  margin-left: -131px;
  z-index: 50;
}
/* line 39, ../_scss/screen.scss */
h1 a span {
  visibility: hidden;
}

@keyframes scaleanimation {
  /* line 51, ../_scss/screen.scss */
  from {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }

  /* line 58, ../_scss/screen.scss */
  to {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
  }
}

@-webkit-keyframes scaleanimation {
  /* line 69, ../_scss/screen.scss */
  from {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }

  /* line 76, ../_scss/screen.scss */
  to {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
  }
}

/* line 84, ../_scss/screen.scss */
h2 span, h3 span {
  display: none;
}

/* line 88, ../_scss/screen.scss */
a {
  text-decoration: none;
}

/* line 92, ../_scss/screen.scss */
#headerNav {
  background-color: #c7e5df;
  width: 100%;
  height: 100px;
  border-bottom: 4px solid black;
  font-family: bebas-neue;
  font-size: 1.8em;
  position: fixed;
  z-index: 40;
}
/* line 103, ../_scss/screen.scss */
#headerNav #navigationContent {
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 43px;
}
/* line 109, ../_scss/screen.scss */
#headerNav #navigationContent ul:first-child {
  padding-left: 60px;
}
/* line 111, ../_scss/screen.scss */
#headerNav #navigationContent ul:first-child li {
  margin-right: 80px;
}
/* line 117, ../_scss/screen.scss */
#headerNav #navigationContent ul:last-child li {
  margin-left: 60px;
}
/* line 122, ../_scss/screen.scss */
#headerNav #navigationContent ul {
  display: block;
  margin-left: 30px;
}
/* line 125, ../_scss/screen.scss */
#headerNav #navigationContent ul li {
  display: inline-block;
}
/* line 128, ../_scss/screen.scss */
#headerNav #navigationContent ul li a {
  height: 18px;
  display: block;
}
/* line 133, ../_scss/screen.scss */
#headerNav #navigationContent ul li #btnHome {
  background: url("../images/nav/btn_home.png") 0 0;
  width: 95px;
}
/* line 136, ../_scss/screen.scss */
#headerNav #navigationContent ul li #btnHome:hover {
  background: url("../images/nav/btn_home.png") 0 -18px;
}
/* line 141, ../_scss/screen.scss */
#headerNav #navigationContent ul li #btnWork {
  background: url("../images/nav/btn_work.png") 0 0;
  width: 114px;
}
/* line 144, ../_scss/screen.scss */
#headerNav #navigationContent ul li #btnWork:hover {
  background: url("../images/nav/btn_work.png") 0 -18px;
}
/* line 149, ../_scss/screen.scss */
#headerNav #navigationContent ul li #btnAbout {
  background: url("../images/nav/btn_about.png") 0 0;
  width: 166px;
}
/* line 152, ../_scss/screen.scss */
#headerNav #navigationContent ul li #btnAbout:hover {
  background: url("../images/nav/btn_about.png") 0 -18px;
}
/* line 157, ../_scss/screen.scss */
#headerNav #navigationContent ul li #btnRegist {
  background: url("../images/nav/btn_regist.png") 0 0;
  width: 149px;
}
/* line 160, ../_scss/screen.scss */
#headerNav #navigationContent ul li #btnRegist:hover {
  background: url("../images/nav/btn_regist.png") 0 -18px;
}
/* line 165, ../_scss/screen.scss */
#headerNav #navigationContent ul li a span {
  visibility: hidden;
}

/* line 173, ../_scss/screen.scss */
.introTextBg {
  background: url("../images/bg_intro.png");
  width: 100%;
  height: 300px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 20;
  text-align: center;
}
/* line 182, ../_scss/screen.scss */
.introTextBg p {
  padding-top: 95px;
  font-size: 2.2em;
  line-height: 140%;
}
/* line 187, ../_scss/screen.scss */
.introTextBg h4 {
  background: url("../images/img_oldvsnew.png") no-repeat;
  width: 157px;
  height: 84px;
  margin: 30px auto 0px auto;
}
/* line 192, ../_scss/screen.scss */
.introTextBg h4 span {
  visibility: hidden;
}

/* line 198, ../_scss/screen.scss */
.left {
  float: left;
}

/* line 202, ../_scss/screen.scss */
.right {
  float: right;
}

/* line 206, ../_scss/screen.scss */
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  border-top: 4px solid black;
  background-color: #c7e5df;
  z-index: 30;
}
/* line 217, ../_scss/screen.scss */
footer #footerContent {
  position: relative;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: bebas-neue;
}
/* line 223, ../_scss/screen.scss */
footer #footerContent h4 {
  position: absolute;
  top: -17px;
  left: 0px;
  width: 60px;
  font-size: 1.4em;
  color: black;
  background-color: #f4eac6;
  border: 4px solid black;
  padding: 5px;
  display: block;
  text-align: center;
}
/* line 236, ../_scss/screen.scss */
footer #footerContent ul {
  margin-left: 140px;
  padding-top: 6px;
}
/* line 239, ../_scss/screen.scss */
footer #footerContent ul li {
  display: inline;
  color: #558178;
  font-size: 1.6em;
  margin-right: 40px;
}
/* line 244, ../_scss/screen.scss */
footer #footerContent ul li img {
  margin-right: 10px;
}
/* line 247, ../_scss/screen.scss */
footer #footerContent ul li a {
  color: #34524c;
}
/* line 252, ../_scss/screen.scss */
footer #footerContent ul .fbicon, footer #footerContent ul .twtricon {
  position: absolute;
  top: 5px;
}
/* line 257, ../_scss/screen.scss */
footer #footerContent ul .fbicon {
  right: 40px;
}
/* line 261, ../_scss/screen.scss */
footer #footerContent ul .twtricon {
  right: -5px;
}

/* line 268, ../_scss/screen.scss */
.skyline {
  background: url("../images/skyline.png");
  width: 100%;
  height: 620px;
  position: fixed;
  bottom: 10px;
  left: 0px;
  opacity: 0.07;
  z-index: 0;
}

/* line 280, ../_scss/screen.scss */
#worksContainer {
  margin: 20px auto 10px auto;
  width: 800px;
}
/* line 284, ../_scss/screen.scss */
#worksContainer #works header {
  text-align: center;
  padding-top: 5px;
}
/* line 288, ../_scss/screen.scss */
#worksContainer #works h3 {
  width: 200px;
  display: block;
  border: black 4px solid;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 2.4em;
  font-family: bebas-neue;
}
/* line 297, ../_scss/screen.scss */
#worksContainer #works .work {
  border-top: black solid 4px;
  margin-top: 80px;
  position: relative;
}
/* line 301, ../_scss/screen.scss */
#worksContainer #works .work header {
  position: absolute;
  top: -22px;
  left: 45px;
  padding: 10px;
  font-size: 2.1em;
  text-align: center;
  background-color: #f4eac6;
}
/* line 309, ../_scss/screen.scss */
#worksContainer #works .work header h4 {
  font-family: bebas-neue;
}
/* line 313, ../_scss/screen.scss */
#worksContainer #works .work .explaination {
  font-size: 1.8em;
  margin-top: 15px;
  margin-left: 55px;
  line-height: 130%;
  margin-bottom: 40px;
}

/* line 324, ../_scss/screen.scss */
#collageContainer {
  margin-top: 20px;
}
/* line 326, ../_scss/screen.scss */
#collageContainer .collagePicContainer {
  display: inline-block;
  position: relative;
  margin-right: auto;
  padding-left: 35px;
  z-index: 6;
}
/* line 333, ../_scss/screen.scss */
#collageContainer .collagePicContainer figure img {
  border: 4px solid black;
  background-clip: border-box;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  -o-background-clip: border-box;
}
/* line 340, ../_scss/screen.scss */
#collageContainer .collagePicContainer:hover .overimgTop a, #collageContainer .collagePicContainer:hover .overimgBottom a {
  display: block;
}
/* line 345, ../_scss/screen.scss */
#collageContainer .overimgTop a, #collageContainer .overimgBottom a {
  color: white;
  display: none;
  position: absolute;
  width: 145px;
  opacity: 0.95;
  left: 39px;
  text-align: center;
  animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}
/* line 358, ../_scss/screen.scss */
#collageContainer .overimgTop a span, #collageContainer .overimgBottom a span {
  animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  -webkit-animation: fadein 0.5s;
  -o-animation: fadein 0.5s;
  -ms-animation: fadein 0.5s;
}
/* line 367, ../_scss/screen.scss */
#collageContainer .overimgTop a {
  background: url("../images/1_collage/over_top.png");
  top: 4px;
  z-index: 7;
  padding-top: 30px;
  height: 56px;
  font-family: bebas-neue;
  font-size: 2em;
  animation: overslideintop 0.5s;
  -moz-animation: overslideintop 0.5s;
  -webkit-animation: overslideintop 0.5s;
  -o-animation: overslideintop 0.5s;
  -ms-animation: overslideintop 0.5s;
}
/* line 383, ../_scss/screen.scss */
#collageContainer .overimgBottom a {
  background: url("../images/1_collage/over_bottom.png");
  bottom: 6px;
  z-index: 8;
  height: 28px;
  font-size: 1.6em;
  padding-top: 18px;
  animation: overslideinbottom 0.5s;
  -moz-animation: overslideinbottom 0.5s;
  -webkit-animation: overslideinbottom 0.5s;
  -o-animation: overslideinbottom 0.5s;
  -ms-animation: overslideinbottom 0.5s;
}
/* line 398, ../_scss/screen.scss */
#collageContainer .iconCalender {
  position: absolute;
  bottom: 8px;
  left: 10px;
  background: url("../images/1_collage/icon_calender.png") no-repeat;
  width: 23px;
  height: 25px;
}

@keyframes overslideintop {
  /* line 409, ../_scss/screen.scss */
  from {
    height: 0;
  }

  /* line 412, ../_scss/screen.scss */
  to {
    height: 56px;
  }
}

@-webkit-keyframes overslideintop {
  /* line 418, ../_scss/screen.scss */
  from {
    height: 0;
  }

  /* line 421, ../_scss/screen.scss */
  to {
    height: 56px;
  }
}

@keyframes fadein {
  /* line 427, ../_scss/screen.scss */
  from {
    opacity: 0;
  }

  /* line 430, ../_scss/screen.scss */
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* line 436, ../_scss/screen.scss */
  from {
    opacity: 0;
  }

  /* line 439, ../_scss/screen.scss */
  to {
    opacity: 1;
  }
}

@keyframes overslideinbottom {
  /* line 445, ../_scss/screen.scss */
  from {
    height: 0;
  }

  /* line 448, ../_scss/screen.scss */
  to {
    height: 28px;
  }
}

@-webkit-keyframes overslideinbottom {
  /* line 454, ../_scss/screen.scss */
  from {
    height: 0;
  }

  /* line 457, ../_scss/screen.scss */
  to {
    height: 28px;
  }
}

/* line 462, ../_scss/screen.scss */
.btnMore {
  background: url("../images/btn_blue.png") no-repeat 0px 0px;
  width: 232px;
  height: 39px;
  display: block;
  margin: 50px auto 0px auto;
  font-family: bebas-neue;
  font-size: 2em;
  padding-top: 12px;
  color: #34524c;
  text-align: center;
}
/* line 474, ../_scss/screen.scss */
.btnMore:hover {
  background: url("../images/btn_blue.png") no-repeat 0px -51px;
}

/* line 479, ../_scss/screen.scss */
mark {
  background-color: #e95c54;
  color: #ffffff;
  padding: 3px;
}

/* line 485, ../_scss/screen.scss */
#dialectsContainer {
  margin-top: 20px;
}
/* line 487, ../_scss/screen.scss */
#dialectsContainer .dateDialects {
  width: 80px;
  height: 20px;
  position: absolute;
  bottom: -22px;
  right: 7px;
}
/* line 492, ../_scss/screen.scss */
#dialectsContainer .dateDialects p {
  padding-top: 3px;
  color: #e95c54;
  font-size: 1.6em;
}
/* line 499, ../_scss/screen.scss */
#dialectsContainer .dialectContainer {
  display: inline-block;
  position: relative;
  margin-right: auto;
  padding-left: 35px;
  z-index: 6;
}
/* line 506, ../_scss/screen.scss */
#dialectsContainer .dialectContainer figure img {
  border: 4px solid black;
  background-clip: border-box;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  -o-background-clip: border-box;
}
/* line 513, ../_scss/screen.scss */
#dialectsContainer .dialectContainer:hover .overimgTop a, #dialectsContainer .dialectContainer:hover .overimgBottom a {
  display: block;
}
/* line 518, ../_scss/screen.scss */
#dialectsContainer .overimgTop a, #dialectsContainer .overimgBottom a {
  color: white;
  display: none;
  position: absolute;
  width: 197px;
  opacity: 0.95;
  left: 43px;
  text-align: center;
  animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}
/* line 531, ../_scss/screen.scss */
#dialectsContainer .overimgTop a span, #dialectsContainer .overimgBottom a span {
  animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  -webkit-animation: fadein 0.5s;
  -o-animation: fadein 0.5s;
  -ms-animation: fadein 0.5s;
}
/* line 540, ../_scss/screen.scss */
#dialectsContainer .overimgTop a {
  background: url("../images/2_dialecten/over_top.png");
  top: 8px;
  z-index: 7;
  height: 130px;
  font-family: bebas-neue;
  font-size: 2em;
  animation: slideintop 0.5s;
  -moz-animation: slideintop 0.5s;
  -webkit-animation: slideintop 0.5s;
  -o-animation: slideintop 0.5s;
  -ms-animation: slideintop 0.5s;
}
/* line 547, ../_scss/screen.scss */
#dialectsContainer .overimgTop a img {
  margin-top: 34px;
  animation: speakerAnimation 0.5s;
  -moz-animation: speakerAnimation 0.5s;
  -webkit-animation: speakerAnimation 0.5s;
  -o-animation: speakerAnimation 0.5s;
  -ms-animation: speakerAnimation 0.5s;
}
/* line 563, ../_scss/screen.scss */
#dialectsContainer .overimgBottom a {
  background: url("../images/2_dialecten/over_bottom.png");
  bottom: 10px;
  z-index: 8;
  height: 39px;
  font-size: 2em;
  padding-top: 20px;
  font-family: bebas-neue;
  animation: slideinbottom 0.5s;
  -moz-animation: slideinbottom 0.5s;
  -webkit-animation: slideinbottom 0.5s;
  -o-animation: slideinbottom 0.5s;
  -ms-animation: slideinbottom 0.5s;
}

@keyframes slideintop {
  /* line 581, ../_scss/screen.scss */
  from {
    height: 0;
  }

  /* line 584, ../_scss/screen.scss */
  to {
    height: 130px;
  }
}

@-webkit-keyframes slideintop {
  /* line 590, ../_scss/screen.scss */
  from {
    height: 0;
  }

  /* line 593, ../_scss/screen.scss */
  to {
    height: 130px;
  }
}

@keyframes fadein {
  /* line 599, ../_scss/screen.scss */
  from {
    opacity: 0;
  }

  /* line 602, ../_scss/screen.scss */
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* line 608, ../_scss/screen.scss */
  from {
    opacity: 0;
  }

  /* line 611, ../_scss/screen.scss */
  to {
    opacity: 1;
  }
}

@keyframes slideinbottom {
  /* line 617, ../_scss/screen.scss */
  from {
    height: 0;
  }

  /* line 620, ../_scss/screen.scss */
  to {
    height: 39px;
  }
}

@-webkit-keyframes slideinbottom {
  /* line 626, ../_scss/screen.scss */
  from {
    height: 0;
  }

  /* line 629, ../_scss/screen.scss */
  to {
    height: 39px;
  }
}

@keyframes speakerAnimation {
  /* line 635, ../_scss/screen.scss */
  from {
    opacity: 0;
    width: 34px;
  }

  /* line 639, ../_scss/screen.scss */
  to {
    opacity: 1;
    width: 68px;
  }
}

@-webkit-keyframes speakerAnimation {
  /* line 646, ../_scss/screen.scss */
  from {
    opacity: 0;
    width: 34px;
  }

  /* line 650, ../_scss/screen.scss */
  to {
    opacity: 1;
    width: 68px;
  }
}

/* line 656, ../_scss/screen.scss */
.number {
  font-size: 3em;
  position: absolute;
  top: -28px;
  left: -1px;
}

/* line 663, ../_scss/screen.scss */
#fashionContainer {
  width: 600px;
  min-height: 180px;
  margin: 90px auto 0px auto;
}
/* line 667, ../_scss/screen.scss */
#fashionContainer #dress {
  background: url("../images/3_mode/dress.png") no-repeat;
  width: 150px;
  height: 226px;
  position: absolute;
  top: 80px;
  left: 100px;
  z-index: 9;
}
/* line 676, ../_scss/screen.scss */
#fashionContainer #textContainer {
  background-color: #ffffff;
  padding: 10px;
  border: 4px solid black;
  width: 120px;
  z-index: 10;
  position: relative;
}
/* line 683, ../_scss/screen.scss */
#fashionContainer #textContainer h4 {
  font-family: bebas-neue;
  font-size: 2.5em;
}
/* line 687, ../_scss/screen.scss */
#fashionContainer #textContainer p {
  color: #e95c54;
  font-size: 1.74em;
}
/* line 691, ../_scss/screen.scss */
#fashionContainer #textContainer #labels {
  background: url("../images/3_mode/labels.png") no-repeat;
  width: 355px;
  height: 166px;
  position: absolute;
  top: -40px;
  left: 143px;
  z-index: 11;
}
/* line 700, ../_scss/screen.scss */
#fashionContainer #textContainer #amountOfShops {
  position: absolute;
  top: 80px;
  left: 240px;
  z-index: 12;
  width: 400px;
}
/* line 706, ../_scss/screen.scss */
#fashionContainer #textContainer #amountOfShops li {
  color: white;
  font-size: 3.5em;
  display: inline-block;
  text-align: center;
  margin-right: 63px;
}
/* line 715, ../_scss/screen.scss */
#fashionContainer #textContainer #shops {
  position: absolute;
  top: 135px;
  left: 221px;
  width: 400px;
}
/* line 720, ../_scss/screen.scss */
#fashionContainer #textContainer #shops li {
  width: 75px;
  color: black;
  font-size: 1.8em;
  display: inline-block;
  text-align: center;
  margin-right: 26px;
}

/* line 732, ../_scss/screen.scss */
#imageContainer {
  width: 600px;
  min-height: 230px;
  margin: 90px auto 0px auto;
  position: relative;
}
/* line 737, ../_scss/screen.scss */
#imageContainer h4 {
  width: 300px;
  border-bottom: 4px solid black;
  font-size: 2em;
  padding-bottom: 5px;
  margin-top: 50px;
}
/* line 744, ../_scss/screen.scss */
#imageContainer h4:first-child {
  font-family: bebas-neue;
  margin-top: 100px;
}
/* line 748, ../_scss/screen.scss */
#imageContainer h4:last-of-type {
  text-align: right;
  color: #e95c54;
}
/* line 751, ../_scss/screen.scss */
#imageContainer h4:last-of-type img {
  padding-right: 10px;
}
/* line 755, ../_scss/screen.scss */
#imageContainer #statuePicContainer {
  position: relative;
}
/* line 757, ../_scss/screen.scss */
#imageContainer #statuePicContainer:hover .overimgStatueTop a, #imageContainer #statuePicContainer:hover .overimgStatueBottom a {
  display: block;
}
/* line 761, ../_scss/screen.scss */
#imageContainer #statuePic {
  position: absolute;
  top: -50px;
  left: 185px;
}
/* line 765, ../_scss/screen.scss */
#imageContainer #statuePic img {
  border: 4px solid black;
}

/* line 771, ../_scss/screen.scss */
.overimgStatueTop a, .overimgStatueBottom a {
  color: white;
  display: none;
  position: absolute;
  width: 223px;
  opacity: 0.95;
  left: 189px;
  text-align: center;
  animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}
/* line 784, ../_scss/screen.scss */
.overimgStatueTop a span, .overimgStatueBottom a span {
  animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  -webkit-animation: fadein 0.5s;
  -o-animation: fadein 0.5s;
  -ms-animation: fadein 0.5s;
}

/* line 793, ../_scss/screen.scss */
.overimgStatueTop a {
  background: url("../images/4_standbeelden/over_statueTop.png") no-repeat;
  top: -46px;
  z-index: 7;
  height: 189px;
  font-family: bebas-neue;
  font-size: 2.3em;
  animation: slideintopStatue 0.5s;
  -moz-animation: slideintopStatue 0.5s;
  -webkit-animation: slideintopStatue 0.5s;
  -o-animation: slideintopStatue 0.5s;
  -ms-animation: slideintopStatue 0.5s;
}

/* line 807, ../_scss/screen.scss */
.overimgStatueBottom a {
  background: url("../images/2_dialecten/over_bottom.png");
  bottom: -243px;
  z-index: 8;
  height: 39px;
  padding-top: 20px;
  animation: slideinbottom 0.5s;
  -moz-animation: slideinbottom 0.5s;
  -webkit-animation: slideinbottom 0.5s;
  -o-animation: slideinbottom 0.5s;
  -ms-animation: slideinbottom 0.5s;
}
/* line 820, ../_scss/screen.scss */
.overimgStatueBottom a img {
  animation: fadein 0.8s;
  -moz-animation: fadein 0.8s;
  -webkit-animation: fadein 0.8s;
  -o-animation: fadein 0.8s;
  -ms-animation: fadein 0.8s;
}

@keyframes slideintopStatue {
  /* line 830, ../_scss/screen.scss */
  from {
    height: 0;
  }

  /* line 833, ../_scss/screen.scss */
  to {
    height: 189px;
  }
}

@-webkit-keyframes slideintopStatue {
  /* line 839, ../_scss/screen.scss */
  from {
    height: 0;
  }

  /* line 842, ../_scss/screen.scss */
  to {
    height: 189px;
  }
}

/* line 847, ../_scss/screen.scss */
.clear {
  clear: both;
}
