html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "bebas-neue";
  src: url("../fonts/bebasneue/bebasneue-webfont.eot");
  src: url("../fonts/bebasneue/bebasneue-webfont.eot#?iefix") format("embedded-opentype"), url("../fonts/bebasneue/bebasneue-webfont.woff") format("woff"), url("../fonts/bebasneue/bebasneue-webfont.ttf") format("truetype"), url("../fonts/bebasneue/bebasneue-webfont.svg#Ubuntu-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "corki";
  src: url("../fonts/corki/corki-tuscan-webfont.eot");
  src: url("../fonts/corki/corki-tuscan-webfont.eot#?iefix") format("embedded-opentype"), url("../fonts/corki/corki-tuscan-webfont.woff") format("woff"), url("../fonts/corki/corki-tuscan-webfont.ttf") format("truetype"), url("../fonts/corki/corki-tuscan-webfont.svg#Ubuntu-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 62.5%;
  font-family: corki, arial, sans-serif;
  background-color: #f4eac6;
}

#container {
  position: relative;
}

h1 {
  max-width: 100%;
  height: auto !important;
}
h1 a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../images/title_enroute.png") no-repeat;
  width: 262px;
  height: 170px;
  position: fixed;
  top: 20px;
  left: 50%;
  margin-left: -131px;
  z-index: 50;
}
h1 a span {
  visibility: hidden;
}

@keyframes scaleanimation {
  from {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }

  to {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
  }
}

@-webkit-keyframes scaleanimation {
  from {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }

  to {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
  }
}

h2 span, h3 span {
  display: none;
}

a {
  text-decoration: none;
}

#headBorder {
  position: fixed;
  background-color: #c7e5df;
  border-bottom: 4px solid black;
  z-index: 40;
  width: 100%;
  height: 100px;
}

nav {
  position: absolute;
  top: -2px;
  width: 100%;
  height: 100px;
  z-index: 60;
}
nav ul {
  position: fixed;
  float: left;
  z-index: 60;
  margin-top: 35px;
  margin-left: 50px;
}
nav ul .current a {
  color: black;
}
nav ul li {
  margin-right: 30px;
  padding: 0;
  list-style: none;
  display: inline-block;
}
nav ul li a {
  padding: 3px 12px;
  text-decoration: none;
  color: #e95c54;
  font-family: bebas-neue;
  font-size: 2.2em;
  line-height: 100%;
}
nav ul li a:hover {
  color: black;
}
nav form {
  float: right;
}

.active {
  color: black;
}

.introTextBg {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../images/bg_intro.png");
  width: 100%;
  height: 300px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 20;
  text-align: center;
}
.introTextBg p {
  padding-top: 95px;
  font-size: 2.2em;
  line-height: 140%;
}
.introTextBg p mark {
  background-color: #e95c54;
  color: #ffffff;
  padding: 3px;
}
.introTextBg h4 {
  background: url("../images/img_oldvsnew.png") no-repeat;
  width: 157px;
  height: 84px;
  margin: 30px auto 0px auto;
}
.introTextBg h4 span {
  visibility: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  border-top: 4px solid black;
  background-color: #c7e5df;
  z-index: 30;
}
footer #footerContent {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: bebas-neue;
}
footer #footerContent h4 {
  position: absolute;
  top: -17px;
  left: 0px;
  width: 60px;
  font-size: 1.4em;
  color: black;
  background-color: #f4eac6;
  border: 4px solid black;
  padding: 5px;
  display: block;
  text-align: center;
}
footer #footerContent ul {
  margin-left: 140px;
  padding-top: 6px;
}
footer #footerContent ul li {
  display: inline;
  color: #558178;
  font-size: 1.6em;
  margin-right: 40px;
}
footer #footerContent ul li img {
  margin-right: 10px;
}
footer #footerContent ul li a {
  color: #34524c;
}
footer #footerContent ul .fbicon, footer #footerContent ul .twtricon {
  position: absolute;
  top: 5px;
}
footer #footerContent ul .fbicon {
  right: 40px;
}
footer #footerContent ul .twtricon {
  right: -5px;
}

.skyline {
  background: url("../images/skyline.png");
  width: 100%;
  height: 620px;
  position: fixed;
  bottom: 10px;
  left: 0px;
  opacity: 0.07;
  z-index: -3;
}

.home {
  min-height: 400px;
}

.other {
  min-height: 200px;
}

.worksContainer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px auto 20px auto;
  width: 800px;
}
.worksContainer #navmissions {
  margin-bottom: 40px;
}
.worksContainer #homeheader p {
  font-size: 2em;
  color: #558178;
  text-align: left;
  padding-top: 10px;
  padding-left: 36px;
}
.worksContainer #works {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.worksContainer #works span {
  color: #558178;
}
.worksContainer #works ol {
  width: 720px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.worksContainer #works ol li {
  margin-bottom: 10px;
}
.worksContainer #works ol li a {
  color: #558178;
  font-size: 2em;
  font-family: bebas-neue;
}
.worksContainer #works ol li a:hover {
  color: #34524c;
}
.worksContainer #works h3 {
  width: 200px;
  display: block;
  border: black 4px solid;
  padding: 5px;
  text-align: center;
  font-size: 2.4em;
  font-family: bebas-neue;
}
.worksContainer #works .work {
  border-top: black solid 4px;
  margin-top: 50px;
  margin-bottom: 0px;
  position: relative;
}
.worksContainer #works .work header {
  position: absolute;
  top: -22px;
  left: 45px;
  padding: 10px;
  font-size: 2.1em;
  text-align: center;
  background-color: #f4eac6;
}
.worksContainer #works .work header h4 {
  font-family: bebas-neue;
  color: #e95c54;
}
.worksContainer #works #collage #detailCollage {
  width: 400px;
  margin: 30px auto 60px auto;
}
.worksContainer #works #collage #detailCollage img {
  width: 300px;
  height: 300px;
  margin: 10px 0px 0px 15px;
  border: 4px solid black;
  background-clip: border-box;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  -o-background-clip: border-box;
}
.worksContainer #works #collage #detailCollage p {
  text-align: center;
  font-size: 2.2em;
  width: 300px;
  padding: 0px;
}

#detailGroup {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 30px auto 60px auto;
  width: 500px;
}
#detailGroup img {
  width: 500px;
  height: 500px;
  margin: 10px auto 10px auto;
  border: 4px solid black;
  background-clip: border-box;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  -o-background-clip: border-box;
}
#detailGroup p {
  text-align: center;
  font-size: 2.5em;
  width: 500px;
}
#detailGroup p span {
  font-family: bebas-neue;
}

.explaination {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 710px;
  font-size: 1.8em;
  line-height: 130%;
  margin: 15px 0px 40px 55px;
}

.collageContainer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px;
}
.collageContainer .collagePicContainer {
  display: inline-block;
  position: relative;
  margin-right: auto;
  margin-bottom: 10px;
  padding-left: 35px;
  z-index: 6;
}
.collageContainer .collagePicContainer figure img {
  width: 145px;
  height: 145px;
  border: 4px solid black;
  background-clip: border-box;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  -o-background-clip: border-box;
}
.collageContainer .collagePicContainer:hover .overimgTop a, .collageContainer .collagePicContainer:hover .overimgBottom a {
  display: block;
}
.collageContainer .overimgTop a, .collageContainer .overimgBottom a {
  color: white;
  display: none;
  position: absolute;
  width: 145px;
  opacity: 0.95;
  left: 39px;
  text-align: center;
  animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}
.collageContainer .overimgTop a p, .collageContainer .overimgTop a .iconCalender, .collageContainer .overimgBottom a p, .collageContainer .overimgBottom a .iconCalender {
  color: #ffffff;
  animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  -webkit-animation: fadein 0.5s;
  -o-animation: fadein 0.5s;
  -ms-animation: fadein 0.5s;
}
.collageContainer .overimgTop a {
  background: url("../images/1_collage/over_top.png");
  top: 4px;
  z-index: 7;
  padding-top: 30px;
  height: 56px;
  font-family: bebas-neue;
  font-size: 2em;
  animation: overslideintop 0.5s;
  -moz-animation: overslideintop 0.5s;
  -webkit-animation: overslideintop 0.5s;
  -o-animation: overslideintop 0.5s;
  -ms-animation: overslideintop 0.5s;
}
.collageContainer .overimgBottom a {
  background: url("../images/1_collage/over_bottom.png");
  bottom: 6px;
  z-index: 8;
  height: 28px;
  font-size: 1.6em;
  padding-top: 18px;
  animation: overslideinbottom 0.5s;
  -moz-animation: overslideinbottom 0.5s;
  -webkit-animation: overslideinbottom 0.5s;
  -o-animation: overslideinbottom 0.5s;
  -ms-animation: overslideinbottom 0.5s;
}
.collageContainer .iconCalender {
  position: absolute;
  bottom: 8px;
  left: 10px;
  background: url("../images/1_collage/icon_calender.png") no-repeat;
  width: 23px;
  height: 25px;
}

@keyframes overslideintop {
  from {
    height: 0;
  }

  to {
    height: 56px;
  }
}

@-webkit-keyframes overslideintop {
  from {
    height: 0;
  }

  to {
    height: 56px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes overslideinbottom {
  from {
    height: 0;
  }

  to {
    height: 28px;
  }
}

@-webkit-keyframes overslideinbottom {
  from {
    height: 0;
  }

  to {
    height: 28px;
  }
}

.btnMore {
  background: url("../images/btn_blue.png") no-repeat 0px 0px;
  width: 232px;
  height: 39px;
  display: block;
  margin: 20px auto 0px auto;
  font-family: bebas-neue;
  font-size: 2em;
  padding-top: 12px;
  color: #34524c;
  text-align: center;
  cursor: hand;
}
.btnMore:hover {
  background: url("../images/btn_blue.png") no-repeat 0px -51px;
}

.btnSubscribe {
  background: url("../images/btn_subscribe.png") no-repeat 0px 0px;
  width: 232px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-indent: -99999px;
  border: none;
}
.btnSubscribe span {
  visibility: hidden;
}
.btnSubscribe:hover {
  cursor: hand;
  background: url("../images/btn_subscribe.png") no-repeat 0px -51px;
}

#dialectsContainer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#dialectsContainer .dateDialects {
  width: 80px;
  height: 20px;
  position: absolute;
  bottom: -22px;
  right: 7px;
}
#dialectsContainer .dateDialects p {
  padding-top: 3px;
  color: #e95c54;
  font-size: 1.6em;
}
#dialectsContainer .dialectContainer {
  display: inline-block;
  position: relative;
  margin-right: auto;
  margin-bottom: 50px;
  padding-left: 35px;
  z-index: 6;
}
#dialectsContainer .dialectContainer figure img {
  width: 197px;
  height: 197px;
  border: 4px solid black;
  background-clip: border-box;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  -o-background-clip: border-box;
}
#dialectsContainer .dialectContainer:hover .overimgTop a, #dialectsContainer .dialectContainer:hover .overimgBottom a {
  display: block;
}
#dialectsContainer .overimgTop a, #dialectsContainer .overimgBottom a {
  color: white;
  display: none;
  position: absolute;
  width: 197px;
  opacity: 0.95;
  left: 39px;
  text-align: center;
  animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}
#dialectsContainer .overimgTop a p, #dialectsContainer .overimgBottom a p {
  animation: fadein 0.8s;
  -moz-animation: fadein 0.8s;
  -webkit-animation: fadein 0.8s;
  -o-animation: fadein 0.8s;
  -ms-animation: fadein 0.8s;
}
#dialectsContainer .overimgTop a {
  background: url("../images/2_dialecten/over_top.png");
  top: 4px;
  z-index: 7;
  height: 130px;
  font-family: bebas-neue;
  font-size: 2em;
  animation: slideintop 0.5s;
  -moz-animation: slideintop 0.5s;
  -webkit-animation: slideintop 0.5s;
  -o-animation: slideintop 0.5s;
  -ms-animation: slideintop 0.5s;
}
#dialectsContainer .overimgTop a img {
  margin-top: 34px;
  animation: speakerAnimation 0.5s;
  -moz-animation: speakerAnimation 0.5s;
  -webkit-animation: speakerAnimation 0.5s;
  -o-animation: speakerAnimation 0.5s;
  -ms-animation: speakerAnimation 0.5s;
}
#dialectsContainer .overimgBottom a {
  background: url("../images/2_dialecten/over_bottom.png");
  bottom: 6px;
  z-index: 8;
  height: 39px;
  font-size: 2em;
  padding-top: 20px;
  font-family: bebas-neue;
  animation: slideinbottom 0.5s;
  -moz-animation: slideinbottom 0.5s;
  -webkit-animation: slideinbottom 0.5s;
  -o-animation: slideinbottom 0.5s;
  -ms-animation: slideinbottom 0.5s;
}

#soundBoard {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 740px;
  margin-left: auto;
  margin-right: auto;
}
#soundBoard li {
  width: 157px;
  height: 39px;
  margin-top: 10px;
  margin-right: 20px;
  display: inline-block;
  background: url("../images/btn_sound.png") no-repeat 0px 0px;
}
#soundBoard li:hover {
  background: url("../images/btn_sound.png") no-repeat 0px -39px;
}
#soundBoard li a {
  font-family: bebas-neue;
  color: white;
  font-size: 2em;
  display: block;
  padding-top: 8px;
  padding-left: 10px;
}

@keyframes slideintop {
  from {
    height: 0;
  }

  to {
    height: 130px;
  }
}

@-webkit-keyframes slideintop {
  from {
    height: 0;
  }

  to {
    height: 130px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideinbottom {
  from {
    height: 0;
  }

  to {
    height: 39px;
  }
}

@-webkit-keyframes slideinbottom {
  from {
    height: 0;
  }

  to {
    height: 39px;
  }
}

@keyframes speakerAnimation {
  from {
    opacity: 0;
    width: 34px;
  }

  to {
    opacity: 1;
    width: 68px;
  }
}

@-webkit-keyframes speakerAnimation {
  from {
    opacity: 0;
    width: 34px;
  }

  to {
    opacity: 1;
    width: 68px;
  }
}

.number {
  font-size: 3em;
  position: absolute;
  top: -28px;
  left: -1px;
}

#fashionContainer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 600px;
  min-height: 180px;
  margin: 90px auto 40px auto;
}
#fashionContainer #dress {
  background: url("../images/3_mode/dress.png") no-repeat;
  width: 150px;
  height: 226px;
  position: absolute;
  top: 80px;
  left: 100px;
  z-index: 9;
}
#fashionContainer #textContainer {
  background-color: #ffffff;
  padding: 10px;
  border: 4px solid black;
  width: 120px;
  z-index: 10;
  position: relative;
}
#fashionContainer #textContainer h4 {
  font-family: bebas-neue;
  font-size: 2.5em;
}
#fashionContainer #textContainer p {
  color: #e95c54;
  font-size: 1.74em;
}
#fashionContainer #textContainer #labels {
  background: url("../images/3_mode/labels.png") no-repeat;
  width: 355px;
  height: 166px;
  position: absolute;
  top: -40px;
  left: 143px;
  z-index: 11;
}
#fashionContainer #textContainer #amountOfShops {
  position: absolute;
  top: 80px;
  left: 240px;
  z-index: 12;
  width: 400px;
}
#fashionContainer #textContainer #amountOfShops li {
  color: white;
  width: 30px;
  font-size: 3.5em;
  display: inline-block;
  text-align: center;
  margin-right: 70px;
}
#fashionContainer #textContainer #shops {
  position: absolute;
  top: 135px;
  left: 221px;
  width: 400px;
}
#fashionContainer #textContainer #shops li {
  width: 75px;
  color: black;
  font-size: 1.8em;
  display: inline-block;
  text-align: center;
  margin-right: 26px;
}

#allShops {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
#allShops li {
  font-size: 2.2em;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
}
#allShops li span {
  font-family: bebas-neue;
  font-size: 0.8em;
}

#imageContainer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 600px;
}
#imageContainer #statuePic {
  padding-left: 284px;
}
#imageContainer #statue {
  width: 223px;
  height: 288px;
  border: 4px solid black;
  z-index: 70;
  background-clip: border-box;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  -o-background-clip: border-box;
}
#imageContainer h4 {
  width: 200px;
  border-bottom: 4px solid black;
  font-size: 2em;
  padding-bottom: 5px;
  position: absolute;
  z-index: 30;
}
#imageContainer h4:first-of-type {
  font-family: bebas-neue;
  margin-top: 100px;
  bottom: 200px;
  left: 100px;
}
#imageContainer h4:last-of-type {
  text-align: right;
  color: #e95c54;
  top: 150px;
  right: 100px;
  z-index: 24px;
}
#imageContainer h4:last-of-type img {
  padding-right: 10px;
}

.clear {
  clear: both;
}

#vintageContainer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 700px;
  min-height: 250px;
  margin: 30px auto 20px auto;
  position: relative;
}
#vintageContainer .bigFrame {
  background: url("../images/5_vintage/frame_big.png") no-repeat;
  width: 286px;
  height: 285px;
  position: absolute;
  top: -20px;
  left: 210px;
}
#vintageContainer .bigFrame img {
  margin-top: 44px;
  margin-left: 45px;
  width: 198px;
  height: 199px;
  background-clip: border-box;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  -o-background-clip: border-box;
}
#vintageContainer .bigFrame:hover {
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}
#vintageContainer #frameLeft, #vintageContainer #frameRight {
  background: url("../images/5_vintage/frame_small.png") no-repeat;
  width: 186px;
  height: 185px;
}
#vintageContainer #frameLeft img, #vintageContainer #frameRight img {
  margin-top: 28px;
  margin-left: 28px;
  width: 131px;
  height: 130px;
  background-clip: border-box;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  -o-background-clip: border-box;
}
#vintageContainer #frameLeft:hover, #vintageContainer #frameRight:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
#vintageContainer .frame {
  background: url("../images/5_vintage/frame_list.png") no-repeat;
  width: 151px;
  height: 150px;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 20px;
}
#vintageContainer .frame img {
  margin-top: 22px;
  margin-left: 22px;
  width: 107px;
  height: 106px;
  background-clip: border-box;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  -o-background-clip: border-box;
}
#vintageContainer .frame:hover {
  -webkit-transform: rotate(-10deg) scaleX(1.1) scaleY(1.1);
  /* Chrome 4+, Op 15+, Saf 3.1, iOS Saf 3.2+ */
  -moz-transform: rotate(-10deg) scaleX(1.1) scaleY(1.1);
  /* Fx 3.5-15 */
  -ms-transform: rotate(-10deg) scaleX(1.1) scaleY(1.1);
  /* IE 9 */
  -o-transform: rotate(-10deg) scaleX(1.1) scaleY(1.1);
  /* Op 10.5-12 */
  transform: rotate(-10deg) scaleX(1.1) scaleY(1.1);
}

#lostPicContainer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 700px;
}
#lostPicContainer figure img {
  border: 4px solid black;
  margin-top: 20px;
  margin-left: 50px;
  width: 308px;
  height: 247px;
  background-clip: border-box;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  -o-background-clip: border-box;
}
#lostPicContainer .street {
  position: absolute;
  bottom: 10px;
  left: 195px;
  text-align: right;
  color: white;
  font-family: bebas-neue;
  font-size: 2.4em;
}
#lostPicContainer .lines {
  background: url("../images/6_verdwijnen/lines.png") no-repeat;
  width: 507px;
  height: 74px;
  position: absolute;
  top: 40px;
  left: 160px;
}
#lostPicContainer .lines p, #lostPicContainer .lines h4 {
  float: right;
  text-align: right;
  position: absolute;
  right: 0px;
  width: 300px;
}
#lostPicContainer .lines p {
  color: #e95c54;
  font-size: 2em;
  top: -20px;
}
#lostPicContainer .lines h4 {
  font-size: 2em;
  font-family: bebas-neue;
  top: 15px;
}

#topBtn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 700px;
  height: 50px;
  margin: 80px auto 20px auto;
  position: relative;
  display: block;
}
#topBtn .btnTop {
  background: url("../images/btn_top.png") no-repeat 0px 0px;
  width: 43px;
  height: 49px;
  display: block;
  position: absolute;
  top: -25px;
  left: 330px;
}
#topBtn .btnTop span {
  visibility: hidden;
}
#topBtn .btnTop:hover {
  background: url("../images/btn_top.png") no-repeat 0px -49px;
}

.searchField {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  right: 0px;
  margin: 33px 100px 0px 0px;
}
.searchField ol {
  background-color: #f6f6f8;
}
.searchField ol li {
  padding: 10px;
}
.searchField ol li a {
  color: #e95c54;
  font-size: 1.4em;
  font-family: bebas-neue;
}
.searchField ol li a:hover {
  color: black;
}
.searchField form {
  position: relative;
}
.searchField form .search {
  background: url("../images/icon_search.png") no-repeat;
  width: 20px;
  height: 21px;
  display: block;
  position: absolute;
  top: 8px;
  left: 7px;
}
.searchField form .search span {
  visibility: hidden;
}
.searchField form input[type=text] {
  background-color: white;
  border: none;
  width: 150px;
  height: 20px;
  padding: 6px 15px 8px 35px;
}
.searchField form #btnSubmitZoek {
  background: url("../images/btn_search.png") no-repeat 0px 0px;
  width: 10px;
  height: 10px;
  display: block;
  border: none;
  text-indent: -99999px;
  position: absolute;
  right: 8px;
  top: 13px;
}
.searchField form #btnSubmitZoek:hover {
  background: url("../images/btn_search.png") no-repeat 0px -10px;
}

#missionNav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 50px auto 20px auto;
  width: 650px;
}
#missionNav #leftNav #allMissions {
  background: url("../images/btn_all.png") no-repeat 0px 0px;
  width: 148px;
  height: 39px;
  display: block;
}
#missionNav #leftNav #allMissions:hover, #missionNav #leftNav #allMissions #allMissionsActive {
  background: url("../images/btn_all.png") no-repeat 0px -39px;
}
#missionNav #leftNav #allMissions span {
  visibility: hidden;
}
#missionNav #rightNav {
  width: 500px;
}
#missionNav #rightNav ul li {
  display: inline-block;
  margin: 5px;
}
#missionNav #rightNav ul li span {
  visibility: hidden;
}
#missionNav #rightNav ul #mission1, #missionNav #rightNav ul #mission2, #missionNav #rightNav ul #mission3, #missionNav #rightNav ul #mission4, #missionNav #rightNav ul #mission5, #missionNav #rightNav ul #mission6 {
  width: 148px;
  height: 32px;
  display: block;
}
#missionNav #rightNav ul #mission1 {
  background: url("../images/btn_opdracht1.png") no-repeat 0px 0px;
}
#missionNav #rightNav ul #mission1:hover {
  background: url("../images/btn_opdracht1.png") no-repeat 0px -32px;
}
#missionNav #rightNav ul #mission2 {
  background: url("../images/btn_opdracht2.png") no-repeat 0px 0px;
}
#missionNav #rightNav ul #mission2:hover {
  background: url("../images/btn_opdracht2.png") no-repeat 0px -32px;
}
#missionNav #rightNav ul #mission3 {
  background: url("../images/btn_opdracht3.png") no-repeat 0px 0px;
}
#missionNav #rightNav ul #mission3:hover {
  background: url("../images/btn_opdracht3.png") no-repeat 0px -32px;
}
#missionNav #rightNav ul #mission4 {
  background: url("../images/btn_opdracht4.png") no-repeat 0px 0px;
}
#missionNav #rightNav ul #mission4:hover {
  background: url("../images/btn_opdracht4.png") no-repeat 0px -32px;
}
#missionNav #rightNav ul #mission5 {
  background: url("../images/btn_opdracht5.png") no-repeat 0px 0px;
}
#missionNav #rightNav ul #mission5:hover {
  background: url("../images/btn_opdracht5.png") no-repeat 0px -32px;
}
#missionNav #rightNav ul #mission6 {
  background: url("../images/btn_opdracht6.png") no-repeat 0px 0px;
}
#missionNav #rightNav ul #mission6:hover {
  background: url("../images/btn_opdracht6.png") no-repeat 0px -32px;
}

#allMissionsActive {
  background: url("../images/btn_all.png") no-repeat 0px -39px;
  width: 148px;
  height: 39px;
  display: block;
}
#allMissionsActive span {
  visibility: hidden;
}

.activeMission1, .activeMission2, .activeMission3, .activeMission4, .activeMission5, .activeMission6 {
  display: block;
  width: 148px;
  height: 32px;
}

.activeMission1 {
  background: url("../images/btn_opdracht1.png") no-repeat 0px -32px;
}

.activeMission2 {
  background: url("../images/btn_opdracht2.png") no-repeat 0px -32px;
}

.activeMission3 {
  background: url("../images/btn_opdracht3.png") no-repeat 0px -32px;
}

.activeMission4 {
  background: url("../images/btn_opdracht4.png") no-repeat 0px -32px;
}

.activeMission5 {
  background: url("../images/btn_opdracht5.png") no-repeat 0px -32px;
}

.activeMission6 {
  background: url("../images/btn_opdracht6.png") no-repeat 0px -32px;
}

#groups {
  width: 650px;
  margin: 20px auto 20px auto;
}
#groups li {
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  text-align: center;
  font-family: bebas-neue;
  font-size: 1.6em;
}
#groups li .btnTeam {
  padding-top: 6px;
  background: url("../images/btn_teams.png") no-repeat 0px 0px;
  width: 148px;
  height: 26px;
  display: block;
  color: #558178;
}
#groups li .btnTeam:hover {
  background: url("../images/btn_teams.png") no-repeat 0px -32px;
  color: white;
}
#groups #members {
  margin-top: 10px;
}
#groups #members li {
  font-size: 1.8em;
  color: #34524c;
}

.notReady {
  text-align: center;
  color: #558178;
  font-family: bebas-neue;
  font-size: 3em;
}

iframe {
  margin: 20px auto 20px auto;
  width: 800px;
  height: 451px;
}

#subscribe {
  margin-top: 20px;
  width: 500px;
}
#subscribe .left, #subscribe .right {
  width: 232px;
}
#subscribe legend {
  visibility: hidden;
}
#subscribe input[type="text"], #subscribe input[type="date"], #subscribe input[type="email"] {
  width: 223px;
  height: 20px;
  border: 4px solid black;
}
#subscribe label {
  font-family: bebas-neue;
  color: #34524c;
  font-size: 1.6em;
  margin-left: 10px;
}
#subscribe div {
  margin-bottom: 20px;
}
#subscribe .error {
  background-color: #e95c54;
}

.peetje {
  background: url("../images/peetje.png") no-repeat;
  width: 106px;
  height: 46px;
  position: absolute;
  top: 680px;
  left: -106px;
}

.hand {
  background: url("../images/hand.png") no-repeat;
  width: 92px;
  height: 55px;
  position: absolute;
  top: 680px;
  left: -92px;
}

#booked {
  width: 700px;
  margin: 20px auto 20px auto;
}
#booked li {
  display: inline-block;
  color: #e95c54;
  font-size: 2em;
}

@media only screen and (max-width: 1300px) {
  nav ul li a {
    font-size: 1.8em;
  }
}
@media only screen and (max-width: 1170px) {
  nav ul li {
    margin-right: 5px;
  }
  nav ul li a {
    font-size: 1.7em;
  }
}
@media only screen and (max-width: 1024px) {
  .searchField {
    margin: 33px 20px 0px 0px;
  }
  .searchField form input[type=text] {
    width: 100px;
    height: 20px;
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 980px) {
  h1 a {
    background-size: 90%;
    margin-left: -60px;
  }

  .nav {
    position: fixed;
    height: 10px;
  }
  .nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 25px;
    padding-top: 30px;
    background: url("../images/icon_menu.png") no-repeat 0px 0px;
  }
  .nav ul:hover li {
    display: block;
    text-align: left;
  }
  .nav ul:hover li a {
    background-color: white;
    font-size: 4em;
  }
  .nav ul li {
    display: none;
    /* hide all <li> items */
    margin-top: 0;
  }
  .nav ul li:first-child {
    margin-top: 14px;
  }
  .nav .right ul {
    left: auto;
    right: 0;
  }
  .nav .center ul {
    left: 50%;
    margin-left: -90px;
  }
}
@media only screen and (max-width: 700px) {
  .worksContainer {
    width: 700px;
  }
  .worksContainer iframe {
    width: 420px;
    height: 226px;
  }
}
@media only screen and (max-width: 640px) {
  .searchField {
    margin: 124px 20px 0px 0px;
  }
  .searchField form input[type=text] {
    width: 80px;
    height: 20px;
  }

  .worksContainer {
    width: 600px;
  }

  #missionNav {
    width: 550px;
  }
  #missionNav #rightNav {
    margin-top: 0px;
    width: 390px;
  }
  #missionNav #rightNav ul {
    margin-left: 20px;
  }
  #missionNav #rightNav ul li {
    width: 180px;
    margin: 0px 0px 15px 0px;
  }
}
@media only screen and (max-width: 400px) {
  h1 a {
    background-size: 60%;
    margin-top: 20px;
  }

  .introTextBg p {
    font-size: 1.8em;
  }

  .worksContainer {
    width: 350px;
  }

  .explaination {
    width: 90%;
    margin-left: 20px;
  }

  .collageContainer .collagePicContainer {
    padding: 0px 10px 10px 10px;
  }
  .collageContainer .overimgTop a, .collageContainer .overimgBottom a {
    left: 14px;
  }
  .collageContainer .overimgBottom a {
    bottom: 16px;
  }

  #dialectsContainer {
    width: 140px;
    font-size: 90%;
  }
  #dialectsContainer .dialectContainer {
    margin-left: 30px;
    margin-bottom: 30px;
  }
  #dialectsContainer .dialectContainer .overimgBottom {
    font-size: 1.8em;
  }
  #dialectsContainer .dateDialects {
    font-size: 1.3em;
  }

  #fashionContainer {
    margin: 0;
    display: block;
    min-height: 250px;
    width: 140px;
  }
  #fashionContainer #dress {
    top: 180px;
    left: 220px;
  }
  #fashionContainer #textContainer {
    margin-top: 40px;
    width: 120px;
    top: -70px;
  }
  #fashionContainer #textContainer #labels {
    top: 80px;
    left: -55px;
  }
  #fashionContainer #textContainer #amountOfShops {
    width: 320px;
    top: 200px;
    left: 43px;
  }
  #fashionContainer #textContainer #shops {
    width: 320px;
    top: 250px;
    left: 25px;
  }

  #imageContainer {
    width: 350px;
  }
  #imageContainer #statuePic {
    padding-left: 85px;
  }
  #imageContainer #statuePic img {
    /*width: 223px;
    height: 288px;*/
    width: 180px;
    height: 180px;
    border: 4px solid black;
  }
  #imageContainer h4 {
    width: 100px;
    font-size: 1.6em;
  }
  #imageContainer h4:first-of-type {
    left: 0px;
  }
  #imageContainer h4:last-of-type {
    text-align: right;
    color: #e95c54;
    top: 150px;
    right: 0px;
  }
  #imageContainer h4:last-of-type img {
    padding-right: 10px;
  }

  #vintageContainer {
    width: 370px;
    min-height: 600px;
    margin-bottom: -100px;
  }
  #vintageContainer .bigFrame {
    top: 165px;
    left: 30px;
  }
  #vintageContainer #frameLeft, #vintageContainer #frameRight {
    position: absolute;
  }
  #vintageContainer #frameLeft {
    top: -20px;
    left: 0px;
  }
  #vintageContainer #frameRight {
    top: 450px;
    right: 50px;
  }

  #lostPicContainer {
    width: 280px;
    margin: 0;
    padding: 0;
  }
  #lostPicContainer figure img {
    margin-left: 30px;
    width: 208px;
    height: 147px;
  }
  #lostPicContainer .lines {
    top: 50px;
    left: -100px;
    -webkit-transform: rotate(-25deg) scale(0.6);
    /* Chrome 4+, Op 15+, Saf 3.1, iOS Saf 3.2+ */
    -moz-transform: rotate(-25deg) scale(0.6);
    /* Fx 3.5-15 */
    -ms-transform: rotate(-25deg) scale(0.6);
    /* IE 9 */
    -o-transform: rotate(-25deg) scale(0.6);
    /* Op 10.5-12 */
    transform: rotate(-25deg) scale(0.6);
    /* Fx 16+, IE 10+ */
  }
  #lostPicContainer .lines p {
    font-size: 2.7em;
    top: -20px;
  }
  #lostPicContainer .lines h4 {
    font-size: 3em;
    font-family: bebas-neue;
    top: 15px;
  }

  #topBtn {
    width: 300px;
  }
  #topBtn .btnTop {
    top: -25px;
    left: 130px;
  }

  footer {
    width: 400px;
  }
  footer #footerContent {
    width: 400px;
  }
  footer #footerContent h4 {
    top: -32px;
    left: -3px;
  }
  footer #footerContent ul {
    margin-left: 10px;
  }
  footer #footerContent ul li {
    font-size: 1.1em;
    margin-right: 10px;
  }
  footer #footerContent ul .fbicon, footer #footerContent ul .twtricon {
    top: -30px;
  }

  .searchField {
    margin: 124px 20px 0px 0px;
  }
  .searchField form input[type=text] {
    width: 50px;
    height: 20px;
  }

  #missionNav {
    margin: 0px 0px 20px 30px;
    width: 370px;
  }
  #missionNav #rightNav {
    margin-top: 20px;
    width: 390px;
  }
  #missionNav #rightNav ul {
    margin-left: 20px;
  }
  #missionNav #rightNav ul li {
    width: 180px;
    margin: 5px 0px 15px 0px;
  }

  #soundBoard {
    width: 360px;
  }
  #soundBoard li {
    margin-top: 20px;
  }

  #allShops {
    width: 350px;
    margin-top: 20px;
    margin-left: 10px;
  }
  #allShops li {
    margin-bottom: 10px;
  }

  #detailGroup {
    width: 400px;
  }
  #detailGroup img {
    width: 350px;
    height: 350px;
  }
  #detailGroup p {
    width: 400px;
  }
}
